#!/usr/local/bin xdg-open
[Desktop Entry]
Name=hinnkaDE
Comment=Log in using the hinnkaDE
Exec=/usr/local/bin/hinnkaDE.sh
TryExec=/usr/local/bin/hinnkaDE.sh
Icon=openbox
Type=Application   
